@import url(menu.css);
@import url(cabecera.css);
@import url(sobre-mi.css);
@import url(proyectos.css);
@import url(footer.css);


@font-face { 
    font-family: 'Familia1'; 
    src: url(../fonts/Roboto-Regular-webfont.ttf);
}

@font-face { 
    font-family: 'Familia2'; 
    src: url(../fonts/HoltwoodOneSC.ttf);
}

@font-face { 
    font-family: 'Familia3'; 
    src: url(../fonts/GravitasOne.ttf);
}

@font-face { 
    font-family: 'Familia4'; 
    src: url(../fonts/BerkshireSwash-Regular.ttf);
}

@font-face { 
    font-family: 'Familia5'; 
    src: url(../fonts/Shrikhand-Regular.ttf);
}

*, *:after, *:before {
    box-sizing: inherit;
}

a {
    color: #333;
    text-decoration: none;
}

body {
    font-family: 'Familia1';
    margin: 0px;
    padding: 0px;
}




